* {
    box-sizing: border-box;
    background-color: #FC8AA0;
}

 
 #header{
    background-color: #FC8AA0;
    width: 280px;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    
}

#logo{
    border-radius: 200px;
    height: 200px;
    width: auto;
}


#main {
    border: 0px;
    background-color: hsla(351, 77%, 74%, 0.8); 
    width: 100%; 
    max-height: 100%;
    padding: 0px;
    margin: 0px;
   
} 

#nav-bar{
    background-color: #FC8AA0;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    
} 

.nav{
    
    background-color: #FC8AA0;
    width: auto;
    height: auto;
    font-size: 20px;
    border: 0px solid lightgrey;
    padding: 0.5em 0.5em;
    margin: 0.5em;

}

.nav:hover{
    background-color: hsla(353, 46%, 62%, 0.5);
}

a{
    color: hsla(2, 37%, 29%, 1);
    text-decoration: none;
}


.img-main-page1{
    border: 1px solid black;
    max-width: 300px;
    height: 300px;
    padding: 5px 5px;
    margin: 10px 20px;

}

.img-main-page2{
    border: 1px solid black;
    max-width: 300px;
    height: 300px;
    padding: 5px 5px;
    margin: 10px 20px;
}

.img-main-page1{
    display: grid;
    gap: 1.5rem;
}

/* #second-row-photos{
    display: block;
    gap: 5em;
} */

.img-main-page2{
    display: grid;
    gap: 1.5rem;
}

.img-main-page1:hover, .img-main-page2:hover{
    background-color: black;
}

p, h2{
    background-color: hsla(351, 77%, 74%, 0.8);
}