 #header{
    background-color: lightgrey;
    max-width: 100%;
    padding: 10px;
    margin: 0px;
    clear: left;
    
}

#logo{
    border-radius: 50px;
    height: 100px;
    width: auto;
}

#main{
    border: 0px;
    background-color: lightgrey; 
    width: 100%; 
    height: 800px;
    padding: 0px;
    margin: 0px;
    float: left;
    
} 

#nav-bar{
    background-color: lightgrey;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
    float: left ;
    
} 

.nav{
    font-family: 'helvetica', Courier, monospace;
    border: 0px solid lightgrey;
    padding: 17px 15px;
    margin: 0px;

}
.nav:hover{
    background-color: black;
}

a{
    text-decoration: none;
    flex-direction: center;
}


.img-main-page1{
    border: 1px solid black;
    weight: 300px;
    height: 300px;
    padding: 5px 5px;
    margin: 10px 20px;

}

.img-main-page2{
    border: 1px solid black;
    weight: 300px;
    height: 300px;
    padding: 5px 5px;
    margin: 10px 20px;
}